@import url("https://fonts.googleapis.com/css?family=Nunito");

body h2 h1 h3 h4 h5 h6{
  font-family: 'Nunito', sans-serif;
}

.mainpage-body{

}

.top-bar{
  background: #A60825;
  display: flex;
}

.top-bar ul{
  background: #A60825;
}

.top-bar a{
  font-weight: bold;
  color: white;
  padding-top: 35px;
  padding-bottom: 35px;
}

.top-bar-sublink :hover{
  background-color: #c43852
}

.body-about{
  font-size: 1em;
}

.logo{
  max-width: 200px;
  padding-right: 20px;
}

.chicken-logo{
  width: 200px;
}

.header{
  padding-bottom: 40px;
  padding-top: 20px;

}

.header-mainpage{
  margin-left: auto;
  padding-top: 20px;
  color:#c43852;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}

.button{
  background-color: #c43852;
  font-size: 1.45em;
  padding: 10px;
  margin-top: 10px;
}

.button:hover{
  background: transparent;
  color: #A60825;
  border-color: #A60825;
}
.main-button-position{
  margin-top: 50px;
}

.main-content{
  padding-left: 15px;
  font-family: 'Nunito', sans-serif;
}

.selection-img{
  max-height: 250px;
}

.mobile{
  left: 50%;
  top: 50%;
}

.loading{
  position: absolute;
    left: 50%;
    top: 50%;
}
